* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-red:#E3646E;
  --main-purple:#BB72E9;
  --main-blue:#3996DB;
  --main-green:#82BC4F;
  --main-yellow:#EABD5F;
  --gray-100:#E2E4E9;
  --gray-200:#C0C4CE;
  --gray-300:#878EA1;
  --gray-400:#292C34;
  --gray-500:#16181D;
  --gray-600:#0D0E11;

  --title-font-family: 'Asap',sans-serif;
  --title-lg: 600 56px/120% var(--title-font-family);
  --title-md: 600 24px/120% var(--title-font-family);
  --title-sm: 600 16px/120% var(--title-font-family);

  --subtitle-font-family: 'Inconsolata',sans-serif;
  --subtitle: 400 20px/120% var(--subtitle-font-family);

  --text-font-family: 'Maven Pro',sans-serif;
  --text-md: 400 16px/140% var(--text-font-family);
  --text-sm: 400 14px/140% var(--text-font-family);
}

a {
  text-decoration: none;
  color:inherit;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#avatar {
  position: relative;
  width: 112px;
  height: 112px;

  display: flex;
  justify-self:center;

  margin-bottom: 64px;
}

.profile-pic {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border: 2px solid var(--main-red);
  border-radius: 9999px;
  z-index: 1;
  padding: 4px;
}

.small-icon {
  position: absolute;
  width: 31px;
  height: 25px;
  right: 25px;
  bottom: 27px;
  z-index: 2;
}



#introduction-text {
  justify-self:center;
  margin-bottom: 8px;
}

#tags ul{
  list-style:none;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.github-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  mask-image: url("../assets/icons/GitHub.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  background-color: var(--gray-200);
}

.html-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  mask-image: url("../assets/icons/HTML.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  background-color: var(--main-red);
}
.css-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  mask-image: url("../assets/icons/CSS.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  background-color: var(--main-blue);
}
.javascript-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  mask-image: url("../assets/icons/JavaScript.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  background-color: var(--main-yellow);
}
.react-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  mask-image: url("../assets/icons/React.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  background-color: var(--main-blue);
}
.nodejs-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  mask-image: url("../assets/icons/Node.js.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  background-color: var(--main-green);
}

#linkedin-logo {
  mask-image: url("../assets/icons/LinkedinLogo.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

#instagram-logo {
  mask-image: url("../assets/icons/InstagramLogo.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

#github-logo {
  mask-image: url("../assets/icons/GithubLogo.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

#email-logo {
  mask-image: url("../assets/icons/EnvelopeSimple.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}