.grid {
  display:grid;
}

.flex-flow-col{
  flex-direction: column;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.projects-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.services-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.contact-grid {
  grid-template-columns: 28px 1fr 20px;
}

.min-h-screen {
  min-height: 100vh;
}

.half-h-screen {
  min-height: 50vh;
}

.tech-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--gray-400);
  border-radius: 999px;
  min-width: 114px;
  width: fit-content;
  height: 40px;
  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

  }
}

.project-card {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
  padding: 12px;
  img {
    width:100%;
    aspect-ratio: 306/156;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: cover;
  }
  p,h3 {
    padding: 0 6px 0 6px;
  }
}

.service-card {
  border: 2px solid var(--gray-500);
  width: 280px;
  height: 155px;
  padding: 20px;
  border-radius: 12px;
}

.contact-card {
  width: 400px;
  height: 68px;
  background-color: var(--gray-400);
  border-radius: 8px;
}

.contact-card a {
  width: 100%;
  height: 100%;

  align-items: center;
  gap: 12px;

  padding: 0 20px;

  text-decoration: none;
  color: inherit;
}


.contact-card:hover {
  background-color: var(--gray-600);
  border: 1px solid var(--gray-100);
}
.arrow-down {
  position: fixed;
  bottom: 32px;
  left: 50%;

  width: 32px;
  height: 32px;

  transform: translateX(-50%);

  background-color: var(--gray-300);

  mask: url("../assets/icons/Vector.svg") center / contain no-repeat;
  -webkit-mask: url("../assets/icons/Vector.svg") center / contain no-repeat;

  border: none;
  cursor: pointer;
  z-index: 10;

  transition:
    transform 0.3s ease,
    background-color 0.2s;
}

.arrow-down.arrow-up {
  transform: translateX(-50%) rotate(180deg);
}

.arrow-down:hover {
  background-color: #b0b1b4;
}

.diagonal-arrow {
  width: 20px;
  height: 20px;
  mask-image: url(../assets/icons/ArrowUpRight.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  cursor: pointer;
  background-color: var(--main-blue);
}
.social-button {
  display: block;

  width: 28px;
  height: 28px;
  background-color: var(--gray-300);
  cursor: pointer;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.project-card:hover {
  border: 2px solid var(--gray-300);
}

.service-card:hover {
  border: 1px solid var(--gray-200);
}
.grid-flow-cols-6 {
  grid-auto-flow: repeat(6, 1fr);
}

.icon-text { 
  font: var(--text-md);
  color: var(--gray-200);
}
.title-lg {
  font:var(--title-lg);
}

.title-md {
  font:var(--title-md);
}

.title-sm {
  font:var(--title-sm);
}

.subtitle {
  font:var(--subtitle);
}

.text-md {
  font:var(--text-md);
}

.text-sm {
  font:var(--text-sm);
}

.color-red { 
  color: var(--main-red);
}

.color-purple { 
  color: var(--main-purple);
}

.gray-100 {
  color: var(--gray-100);
}

.gray-200 {
  color: var(--gray-200);
}